div.HeroCustom{
    height: 30rem;
}

.HeroCustom--img{
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 1;
    filter: blur(9px);
}

.HeroCustom--divText{
    position: absolute;
    z-index: 99;
}

.HeroCustom--divText h1{
    color: white;
}

